fastapi
uvicorn
python-multipart
python-docx
reportlab
fpdf2
img2pdf
openpyxl
pillow
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
sqlalchemy
email-validator
python-pptx
pdfplumber
pdf2image
pypdf
PyMuPDF
weasyprint
pdf2docx
pdf2docx
pikepdf
